h2 {
  font-size: 18px;
}

.weather-app {
  text-align: center;
  background-image: url(https://wallpaperaccess.com/full/1779003.jpg);
  margin: 0 auto;
  padding: 20px;
  width: 450px;
  height: 570px;
  border: solid; /*0.5rem;*/
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
