.WeatherForecast {
  padding: 20px;
  position: relative;
  top: -10px;
  left: 5px;
}

.forecast-date {
  text-align: right;
}

.forecast-emoji {
  position: relative;
  top: -5px;
  left: -3px;
}

.forecast-temp {
  text-align: center;
}

.temp-low {
  opacity: 0.6;
}
